// COLORS
$primary-color: #e42a43;
$secondary-color: #a10a2b;

$white-color: #fff;
$dark-grey: #333333;
$light-grey: #aaaaaa;
$dark-blue-text: #272341; // For Headings

// Navbar
$navbar-height: 55px;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

$content-min-height: 70vh;
